/after i pass it.txt
/Screenshot_.jpg
/Screenshot_2023-10-15-18-16-25-727_.jpg
/Screenshot_2023-10-15-18-16-25-727_com.google.android.gm.jpg
/Matplotlib and Seaborn Part 2.2_files
/Matplotlib and Seaborn Part 2.3_files
/Week-3/S3_Assignment.pdf
/Matplotlib and Seaborn Part 2.2.html
/Matplotlib and Seaborn Part 2.3.html
/Screenshot 2023-11-24 132840.png